.card-profile-image {
  position: relative;
}
.card-profile-image img {
  position: absolute;
  left: 50%;

  max-width: 100px;

  transition: all 0.15s ease;
  transform: translate(-50%, -50%) scale(1);

  border: 3px solid #fff;
  border-radius: 0.375rem;
}
.card-profile-image img:hover {
  transform: translate(-50%, -50%) scale(1.03);
}

.card-profile-stats {
  padding: 1rem 0;
}
.card-profile-stats > div {
  margin-right: 1rem;
  padding: 0.875rem;

  text-align: center;
}
.card-profile-stats > div:last-child {
  margin-right: 0;
}
.card-profile-stats > div .heading {
  font-size: 1.1rem;
  font-weight: bold;

  display: block;
}
.card-profile-stats > div .description {
  font-size: 0.875rem;

  color: #adb5bd;
}

.card-profile-actions {
  padding: 0.875rem;
}

.card-stats .card-body {
  padding: 1rem 1.5rem;
}

.card-stats .card-status-bullet {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(50%, -50%);
}
